/* || General setup */
body {
	counter-reset:a b
}
html {
	font-family:KaTeX_AMS;
	src:url(/static/fonts/KaTeX_AMS-Regular.38a68f7.woff2) format("woff2"),url(/static/fonts/KaTeX_AMS-Regular.7d307e8.woff) format("woff"),url(/static/fonts/KaTeX_AMS-Regular.2dbe16b.ttf) format("truetype");
	font-weight:400;
	font-style:normal
}
body,html {
	color:rgba(0,0,0,.75);
	font-size:16px;
	font-family:Lato,Helvetica Neue,Helvetica,sans-serif;
	font-variant-ligatures:common-ligatures;
	line-height:1.67;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	counter-reset:a b;
}




body {
  width: 80%;
  min-width: 800px;
  margin: 0 auto;
}

/* || typography */

h1,h2,h3,h4,h5,h6 {
	margin:1.5em 0;
	line-height:1.33
}

h1 {
  font-size: 2rem;
  text-align: center;
  color:#006699;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;

	text-align: left;
}
h2:after {
	content:"";
	display:block;
	position:relative;
	top:.33em;
	border-bottom:1px solid hsla(0,0%,50%,.33)
}

h3 {
  font-size: 1rem;
}



/* || header layout */

header {
  margin-bottom: 5px;
  display: flex;
  flex-flow: row wrap;
  	background: rgb(215,211,213);
	background: radial-gradient(circle, rgba(215,211,213,1) 0%, rgba(148,187,233,1) 100%);
}

body > * {
  padding: 1%;
}

main, article, nav,aside, footer, section {
  padding: 1%;
}

h1 {
  flex: 5;
  text-transform: uppercase;
}

header img {
  display: block;
  height: 40px;
  padding-top: 40.15px;
}

nav {
	height: 40px;
	flex: 100%;
	display: flex;

}

nav ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}

nav li {
  display: inline;
  text-align: center;
  flex: 1;
}

nav a, nav span {
  display: inline-block;
  font-size: 1.5rem;
  height: 3rem;
  line-height: 1.7;
  text-transform: uppercase;
  text-decoration: none;
  color: black;

}

/* || main layout */



a:link,
a:visited{
	text-decoration:none;
	color:#64A1CD;
	
	
}
a:hover{
	color:orange;
	border-radius:3px
	
}

footer {
  margin-top: 10px;
  text-align:right;
}
.toc ul {
	list-style-type:none;
	padding-left:20px
}
b,strong {
	font-weight:inherit;
	font-weight:bolder
}

