/* || General setup */

@font-face {
    font-family: 'josefin_slabbold';
    src: url('fonts/josefinslab-bold-webfont.eot');
    src: url('fonts/josefinslab-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/josefinslab-bold-webfont.woff2') format('woff2'),
         url('fonts/josefinslab-bold-webfont.woff') format('woff'),
         url('fonts/josefinslab-bold-webfont.ttf') format('truetype'),
         url('fonts/josefinslab-bold-webfont.svg#josefin_slabbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
	counter-reset:a b
}
html {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; 
	font-weight:400;
}
body,html {
	color:rgba(0,0,0,.75);
	font-size:16px;
	
	font-variant-ligatures:common-ligatures;
	line-height:1.67;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	counter-reset:a b;
}




body {
  width: 70%;
  min-width: 800px;
  margin: 0 auto;
}

/* || typography */

h1,h2,h3,h4,h5,h6 {
	font-family: josefin_slabbold, sans-serif;
	letter-spacing: 2px;
	margin:1.5em 0;
	line-height:1.33
}

h1 {
	
  font-size: 2rem;
  text-align: center;
  color:#006699;
}

h2 {
    display: block;
    font-size: 1.2em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;

	text-align: left;
}
h2:after {
	content:"";
	display:block;
	position:relative;
	top:.33em;
	border-bottom:1px solid hsla(0,0%,50%,.33)
}

h3 {
  font-size: 1rem;
}


/* || header layout */

header {
  margin-bottom: 5px;
  display: flex;
  flex-flow: row wrap;
  	background: rgb(215,211,213);
	background: radial-gradient(circle, rgba(215,211,213,1) 0%, rgba(148,187,233,1) 100%);
}



main, article, nav,aside, footer, section {
  padding: 1%;
}

h1 {
  flex: 5;

}
img {
	max-width:100%;
	background-size:contain;
}
header img {
  display: block;
  height: 40px;
}

nav {
	height: 40px;
	flex: 100%;
	display: flex;

}


 
 .topclick {
	  height: 50px;
    width: 100px;
    position:relative;
    display:inline-block;

	 
margin-left:90%;

	color:inherit;
	font-size:1.3em;
	color:#006699;
}
 
.ltbox1 {
	 height: 30px;
    width: 100px;
	padding-bottom:10px;
    text-align: left;
    line-height: 50px;
    cursor: pointer;        /*鼠标指针经过*/
}
.ltbox2{
	width: 100px;
    height: 150px;
    margin-top: 2px;

    border-radius: 10px;
    background-color: white;
    position:absolute;
    display: none;        /*使下拉菜单栏消失*/
}
 
.ltbox2 li{
    height: 30px;
    width: 150px;
    text-align: left;
	text-decoration:underline;
    line-height: 30px;
    display: block;        /*使下拉菜单栏显示*/
	font-size:0.7em;
}

 
.topclick:hover .ltbox2{
    display: block;
}






/* || main layout */



a:link,
a:visited{
	text-decoration:none;
	color:#64A1CD;
	
	
}
a:hover{
	color:orange;
	border-radius:3px
	
}

footer {
  margin-top: 10px;
  text-align:right;
}
.toc ul {
	list-style-type:none;
	padding-left:20px
}
b,strong {
	font-weight:inherit;
	font-weight:bolder
}
code {
    background: var(--code-background-inline);
    padding: 0.125rem 0.25rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}
::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
}


.prism .token.atrule,.prism .token.attr-value,.prism .token.keyword,.token.pre.gfm .token.atrule,.token.pre.gfm .token.attr-value,.token.pre.gfm .token.keyword {
	color:#07a
}
.prism .token.attr-name,.prism .token.builtin,.prism .token.char,.prism .token.inserted,.prism .token.selector,.prism .token.string,.token.pre.gfm .token.attr-name,.token.pre.gfm .token.builtin,.token.pre.gfm .token.char,.token.pre.gfm .token.inserted,.token.pre.gfm .token.selector,.token.pre.gfm .token.string {
	color:#690
}
