/* || General setup */
html, body {
  margin: 0;
  padding: 0;
}
body {
  width: 70%;
  min-width: 800px;
  margin: 0 auto;
}
.sender-column {
  text-align: right;
}

h1 {
	font-family: 'Cinzel Decorative', cursive;
	font-size: 3rem;
	color:#006699;
	text-align: center;
}
header {
  display: flex;
  flex-flow: row wrap;
  
}

header img {
  display: block;
  height: 40px;
  padding-top: 40px;
}
iframe {
        float: left;
        margin: 0 20px 20px 0;
        max-width: 100%;
      }

h2 {
  color:#64A1CD;
  font-size: 1.3em;
}
article {
        padding: 5px;
      }

p,ul,ol,dl,address {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.1em;
}

p, li, dd, dt, address {
  line-height: 1.5;
}
